/* -------- TARJETAS PLANES ---------*/ 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
}

.card hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card a {
  color: black;
}

.card a:hover {
  text-decoration: black;
}

.card .text-muted i {
  margin: 0 10px;
}

.card .card-title {
  color: #EE7120;
}


.portada .titulo{
  align-items: center;
}


/* ------ CIRCULOS ----*/

.circles {
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: black;
    background: white;
}

.circles .col{
  text-align: center;
}
.circles .circle-item {
  width: 50%;
}

.circles .circle-item .boton-circular {
  border: 0;
  background: transparent;
  outline: none;
}

.circles .circle-item .boton-circular {
  border: 0;
  background: transparent;
  outline: none;
}

.circles .circle-item i {
  display: inline-block;
  background: #f59c12;
  color: #212529;
  border-radius: 100% ;
  padding: 0.7em 0.7em;
}

.circles .circle-item p{
  display: none;
}


