@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Nunito:wght@700&display=swap');

.App {
  text-align: center;
}

.portada{
  background-size: cover;
  background-image: url("https://picsum.photos/1200/800");
  background-position: center;
  background-repeat: no-repeat;
  
  font-size: 3.5em;
  position: relative;
  color: white;
  height: 100%;
  background-position-x: center;
  padding-top: 25%;
  padding-bottom: 25%;
  margin-bottom: 1em;
  border: 10px;
  border-color: black;

  font-family: 'Anton', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Nunito', sans-serif;

}

.card{
  width: 18rem
}