@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Roboto:wght@300&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f2e6b4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*login screen*/
.left , .right{
  height: 50vh;
  width: 100%;
}

@media screen and (min-width: 648px){
  .left , .right{
    height: 100vh;
  }
}

.left{
  background:#FF3736;
  color: white;
}

.right{
  background: white;
  color : #FF3736;
}

.leftTitle{
  font-size: 75px;
  font-family: 'Convergence', sans-serif; 
  margin: 5px;
  position: relative;
  top: 147px;
}

.leftSub{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  position: relative;
  top: 20%;
}

.leftButton{
  background: #FF3736;
  color: white;
  border-color: white;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  position: relative;
  top: 20%;
  border-radius: 50px;
  padding: 15px;
}

.rightTitle{
  font-size: 80px;
  font-size: Con;
  margin: 5px;
  position: relative;
  top:145px;
}

.rightInput1{
  background: rgb(235,235,235);
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin:10px;
  position: relative;
  top: 220px;
  border-radius: 50px;
  padding-left: 50px;
}

.rightInput2{
  background: rgb(235,235,235);
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin:10px;
  position: relative;
  top: 270px;
  border-radius: 50px;
  padding-left: 50px;
}

.rightButton{
  background: #FF3736;
  color: white;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  position: relative;
  top : 320px;
  border-radius: 50px;
  padding-left: 200px;
  padding-right: 200px;
}

.rightHint{
  color: black;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin:5px;
  position: relative;
  top : 310px;
}

#nav1{
  background-color: #f2e6b4;
  font-family: 'Roboto Mono', monospace;
  color: #74151C ;
}

.nav-link{
  color: #74151C ; 
}

li a:hover{
  text-decoration: underline;
  color:beige;
}

/*Register*/

.regleft , .regright{
  height: 50vh;
  width: 100%;
}

@media screen and (min-width: 450px){
  .regleft , .regright{
    height: 100vh;
  }
}

.regright{
  background:#FF3736;
  color: white;
}

.regleft{
  background: white;
  color : #FF3736;
}


.regrightTitle{
  font-size: 75px;
  font-family: 'Convergence', sans-serif; 
  margin: 5px;
  position: relative;
  top: 147px;
}

.regrightSub{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  position: relative;
  top: 20%;
}

.regrightButton{
  background: #FF3736;
  color: white;
  border-color: white;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  position: relative;
  top: 20%;
  border-radius: 50px;
  padding: 15px;
}

.regleftTitle{
  font-size: 80px;
  font-size: Con;
  margin: 5px;
  position: relative;
  top:30px;
}

.regInput1{
  height: 100px;
  width: 85%;
  background: rgb(235,235,235);
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 60px;
  border-radius: 50px;
  padding: 10px;
  padding-left: 25px;
}

.regInput2{
  margin: 0;
  height: 100px;
  width: 85%;
  background: rgb(235,235,235);
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  margin:5px;
  position: relative;
  top: 60px;
  border-radius: 50px;
  padding: 10px;
  padding-left: 25px;
}

.regInput3{
  height: 100px;
  background: rgb(235,235,235);
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  position: relative;
  top: 60px;
  inline-size: 39%;
  border-radius: 50px;
  padding-left: 25px;
}

.regInput4{
  height: 100px;
  background: rgb(235,235,235);
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  margin:5px;
  margin-left: 30px;
  position: relative;
  top: 60px;
  inline-size: 39%;
  border-radius: 50px;
  padding: 15px;
  padding-left: 25px;
}

.regInput5{
  height: 100px;
  width: 85%;
  background: rgb(235,235,235);
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  margin:5px;
  position: relative;
  top: 60px;
  border-radius: 50px;
  padding: 10px;
  padding-left: 25px;
}

.regInput6{
  height: 100px;
  width: 85%;
  background: rgb(235,235,235);
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  margin:5px;
  position: relative;
  top: 60px;
  border-radius: 50px;
  padding: 10px;
  padding-left: 25px;
}

.regleftButton{
  height: 70px;
  width: 70%;
  border: none;
  background: #FF3736;
  color: white;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  position: relative;
  top: 60px;
  border-radius: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

/*AddPlan*/

.addleft, .addright{
  height: 50vh; /*50 % of vertical height*/
  width: 100%;
}

@media screen and (min-width:768px){
  .addleft, .addright{
    height: 100vh; /*100 % of vertical height*/
  }
}

.addleft{
  background: #EF711A;
  height: 100%;
}

.addright{
  background: #E2E6EA;
  height: 100%;
}


.leftText{
  font-size: 75px;
  font-family: 'Convergence', sans-serif; 
  margin: 5px;
  padding-bottom: 1.5em;
  position: relative;
  top: 147px;
  color: #FFFFFF;
}

.reg_label_titulo, .reg_label_fecha, .reg_label_lugar,
.reg_label_region, .reg_label_descripcion, .reg_label_fotos{
  font-size: 30px;
  font-family: 'Convergence', sans-serif; 
  margin: 5px;
  color: rgb(0, 0, 0);
  margin-left: 0%;
}

.reg_button{
  background: #EE7120;
  color: white;
  font-size: 40px;
  font-family: 'Convergence', sans-serif;
  margin: 5%;
  position: relative;
  width: 70%;
  border-radius: 50px;
}

.img-form{
  padding: 3em;
}